body {
  font-family: 'Arial', sans-serif;
  background-color: #f1f8e9; /* Verde pálido */
  color: #2e7d32; /* Verde texto principal */
  margin: 0;
  padding: 0 20px;
  line-height: 1.6;
}

h1 {
  color: #4caf50; /* Verde principal */
  text-align: center;
  font-size: 36px;
  margin-top: 20px;
}

p {
  color: #2e7d32; /* Verde texto principal */
  font-size: 18px;
  text-align: center;
  margin: 10px 0;
}

#personatges {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff; /* Blanco */
  border: 1px solid #4caf50; /* Verde principal */
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#personatges h2 {
  color: #388e3c; /* Verde oscuro */
  font-size: 28px;
  text-align: center;
  margin-bottom: 10px;
}

#personatges h4 {
  font-size: 18px;
  color: #2e7d32; /* Verde texto principal */
  text-align: justify;
  margin-bottom: 20px;
}

#personatges h3 {
  color: #4caf50; /* Verde principal */
  font-size: 22px;
  margin: 10px 0 5px;
  text-align: center;
}

#personatges img {
  display: block;
  margin: 10px auto;
  width: 300px; /* Aumentar el ancho */
  height: 300px; /* Aumentar la altura */
  object-fit: cover; /* Mantiene proporción */
  border: 2px solid #81c784; /* Verde claro */
  border-radius: 8px;
}

#personatges ul {
  list-style-type: none;
  padding: 10px;
  background-color: #f9fbe7; /* Fondo verde claro */
  border: 1px solid #4caf50; /* Borde verde principal */
  border-radius: 4px;
  margin: 10px 0;
}

#personatges ul li {
  margin: 5px 0;
  font-size: 16px;
  color: #2e7d32; /* Verde texto principal */
}

#personatges button {
  background-color: #4caf50; /* Verde principal */
  color: #ffffff; /* Blanco */
  border: none;
  border-radius: 4px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  display: block;
  margin: 10px auto;
  transition: background-color 0.3s ease;
}

#personatges button:hover {
  background-color: #388e3c; /* Verde oscuro */
}
